create-jwt-token/src/main/mule/create-jwt-token.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">
	<flow name="create-jwt-tokenFlow" doc:id="82626843-4536-47f2-a4c3-33efdb11ad17" >
		<http:listener doc:name="Listener" doc:id="c47f2713-207e-4ff4-b641-b174fe7bc77f" path="/api/rest/token" config-ref="HTTP_Listener_config" allowedMethods="POST"/>
		<ee:transform doc:name="Transform Message" doc:id="f28b6c38-7658-418a-9e7d-fe021a82a7a2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<java:invoke-static doc:name="Invoke static" doc:id="91801e13-868c-4a5e-a4f4-0cef10dc69f1" class="com.jwt.token.CreateJWToken" method="generateToken(java.lang.String,java.lang.Boolean,long,java.lang.String,java.lang.String)">
			<java:args ><![CDATA[#[%dw 2.0
output application/java
---
{
"profileId"  : payload.profileId,
"status" : payload.status,
"tokenExpiry" : payload.'tokenExpiry(ms)',
"secretKey" : p('secret.key.with.profileid'),
"secretKeywithoutProfileId" : p('secret.key.without.profileid')
}]]]></java:args>
		</java:invoke-static>
		<set-payload value='#[output application/json --- {"token" : payload }]' doc:name="Set Payload" doc:id="a71aec4a-2bd2-436e-95f1-902608bd6bad" />
	</flow>
</mule>
