atc-mexico-fiber/src/main/mule/healthcheck.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:quartz="http://www.mulesoft.org/schema/mule/quartz"
	xmlns:mule-ss="http://www.mulesoft.org/schema/mule/spring-security"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:atc-sftp="http://www.mulesoft.org/schema/mule/atc-sftp"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/quartz http://www.mulesoft.org/schema/mule/quartz/current/mule-quartz.xsd
http://www.mulesoft.org/schema/mule/spring-security http://www.mulesoft.org/schema/mule/spring-security/current/mule-spring-security.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/atc-sftp http://www.mulesoft.org/schema/mule/atc-sftp/current/mule-atc-sftp.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd">


	<flow name="health:\\db-connect-master-health" doc:id="ad5b790b-d304-43de-b462-36dbe4103104">
		<db:select doc:name="Select" doc:id="ad5cf5fe-18b7-42d6-8fde-e8da7cf36973" config-ref="CM_Database_Config">
			<db:sql >select * from cmsys.EDIFICIO where 1=2</db:sql>
		</db:select>
		<set-variable value='#["GOOD"]' doc:name="db-connect-master-response" doc:id="ecc9f705-c68c-42f8-a2da-ffe92dcee340" variableName="cmdb"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="a4c87223-1b9e-48c1-8147-35d454b68836" type="ANY">
				<set-variable value='#["BAD"]' doc:name="db-connect-master-response" doc:id="3c80a544-d3a7-4252-8780-c6d6b1385d58" variableName="cmdb" />
			</on-error-continue>
		</error-handler>
	</flow>
	
	
	<flow name="health:\\db-sam-health" doc:id="703a069b-7dd4-4744-a7c2-2402fc667c7c">
		<db:select doc:name="Select" doc:id="bc6482c8-8e9d-4770-9710-d39a59783412" config-ref="SAM_Database_Config">
			<db:sql >select * from SAM20.SAM.Edificios where 1=2</db:sql>
		</db:select>
		<set-variable value='#["GOOD"]' doc:name="db-sam-response" doc:id="aead2fff-4858-47fa-85f2-a623ac9b135e" variableName="samdb"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="4f6d5d75-917b-4fcf-a0c2-6780a6c7c78a" type="ANY">
				<set-variable value='#["BAD"]' doc:name="db-sam-response" doc:id="5d685b60-b280-4d82-835e-b9840273b04e" variableName="samdb" />
			</on-error-continue>
		</error-handler>
	</flow>
	
	<flow name="health:\\email-audit-db-health" doc:id="668403c0-ab8c-45ee-92b7-50acf785c070" >
        <db:select doc:name="Select Email-Audit" doc:id="aa79710c-15e7-4563-9669-4373b09aefbb" config-ref="Email_Audit_Database_Config">
			<db:sql >select * from dual</db:sql>
		</db:select>
		<set-variable value='#["GOOD"]' doc:name="email-Audit-response" doc:id="05d7ebcb-4036-4bbc-a411-ad27a2b04c1e" variableName="emailAudit"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="97c6a1b5-322a-4333-aa78-7e7508ff7277" type="ANY">
				<set-variable value='#["BAD"]' doc:name="email-Audit-response" doc:id="2fbe52a7-712e-4791-9716-b45153cc1407" variableName="emailAudit"/>
			</on-error-continue>
		</error-handler>
	</flow>
	
	<flow name="health:\\health-main" maxConcurrency="1">
		<flow-ref doc:name="db-connect-master-health" doc:id="107368af-71db-484b-b510-18ce759d60f7" name="health:\\db-connect-master-health"/>
		<flow-ref doc:name="health:\\db-sam-health" doc:id="18e6f214-4ad4-439e-8bd3-3ee286af03af" name="health:\\db-sam-health"/>
		<choice doc:name="Choice" doc:id="cfe886aa-97b2-45a6-8106-12d55b0491ae" >
			<when expression="#[p('mail.enable') == 'true']">
				<flow-ref doc:name="health:\\email-audit-db-health" doc:id="f44c6f8d-75cb-4e7b-ad57-3e7cb95a8824" name="health:\\email-audit-db-health"/>
				<ee:transform doc:name="healthResponse" doc:id="103e7a9f-4f3b-4300-b1e6-054b5ceb4195" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
var cmdb = vars.cmdb as String default null
var samdb = vars.samdb as String default null
var emailAudit = vars.emailAudit as String default null
var health = if(cmdb == "GOOD" and samdb == "GOOD" and emailAudit == "GOOD") "GOOD" else "BAD" default "GOOD"
output application/json
---
{
  health: health,
  service: p('current.project.name') ++ '-' ++ p('current.environment'),
  interface_type: p('currrent.project.type') default "REST",
  Edificio_interface_id: p('edificio.current.project.id') default "I-436",
  Sitios_interface_id: p('sitios.current.project.id') default "I-437",
  services: {
  	ConnectMasterHost: p('cm.db.host'),
  	DataBase: cmdb,
  	SAMHost: p('sam.db.host'),
  	DataBase: samdb,
  	Email_Audit_DB_Host : p('email.audit.db.host'),
  	Email_Audit_DB : emailAudit
  }
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="healthResponse" doc:id="2de5ff7a-4fc5-4165-81ec-1ee7ec758fa3" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
var cmdb = vars.cmdb as String default null
var samdb = vars.samdb as String default null
var health = if(cmdb == "GOOD" and samdb == "GOOD") "GOOD" else "BAD" default "GOOD"
output application/json
---
{
  health: health,
  service: p('current.project.name') ++ '-' ++ p('current.environment'),
  interface_type: p('currrent.project.type') default "REST",
  Edificio_interface_id: p('edificio.current.project.id') default "I-436",
  Sitios_interface_id: p('sitios.current.project.id') default "I-437",
  services: {
  	ConnectMasterHost: p('cm.db.host'),
  	DataBase: cmdb,
  	SAMHost: p('sam.db.host'),
  	DataBase: samdb  	
  }
}

]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
</mule>
