antavo-api/src/main/mule/antavo-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <apikit:config name="antavo-api-config" api="antavo-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" disableValidations="true" />
    <flow name="antavo-api-main">
        <http:listener config-ref="HTTP_Listener_config" path="/api/*">
            <http:response statusCode="#[vars.errorCode]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="antavo-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="antavo-api-console">
        <http:listener config-ref="HTTP_Listener_config" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="antavo-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="43a64280-e187-4772-bbfc-558a58256731">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\users\checkout:application\json:antavo-api-config">
        <flow-ref doc:name="users-checkoutFlow Reference" doc:id="ed83eb2b-5579-457b-b9aa-a9d37a703ea6" name="users-checkoutFlow" />
    </flow>
    <flow name="post:\users\optIn:application\json:antavo-api-config">
        <flow-ref doc:name="users-optInFlow Reference" doc:id="ad6b1e35-1e77-4b42-9ce4-f92edd1007de" name="users-optInFlow" />
    </flow>
    <flow name="post:\users\optOut:application\json:antavo-api-config">
        <flow-ref doc:name="users-optOutFlow Reference" doc:id="7af0d448-b8ac-47a2-9d59-61ecb149765b" name="users-optOutFlow" />
    </flow>
    <flow name="get:\users\(customerId)\rewards:antavo-api-config">
        <flow-ref doc:name="users-rewardsFlow Reference" doc:id="54dfaefe-0507-431e-b4ae-9c772f6dce74" name="users-rewardsFlow" />
    </flow>
    <flow name="post:\users\(customerId)\rewards\(rewardId):antavo-api-config">
        <flow-ref doc:name="users-claim-rewardsFlow Reference" doc:id="1347d808-314b-4e97-922e-de2e68640275" name="users-claim-rewardsFlow" />
    </flow>
    <flow name="get:\users\(customerId):antavo-api-config">
        <flow-ref doc:name="get-usersFlow Reference" doc:id="20b913af-63e7-4c2d-b5a0-74f82bcad442" name="get-usersFlow" />
    </flow>
    <flow name="post:\users\profile:application\json:antavo-api-config">
        <flow-ref doc:name="users-profileFlow Reference" doc:id="ebcee046-6534-4921-8443-13ebffd7fea5" name="users-profileFlow" />
    </flow>
    <flow name="get:\users\(CustomerId)\events:antavo-api-config">
        <flow-ref doc:name="get-users-eventsFlow Reference" doc:id="a7c9dc24-33e4-432b-93af-8e6b357f2693" name="get-users-eventsFlow" />
    </flow>
    <flow name="get:\users\(CustomerId)\transactions:antavo-api-config">
        <flow-ref doc:name="get-users-transactionsFlow Reference" doc:id="894c919e-8686-49fd-bd13-531dc5c078f9" name="get-users-transactionsFlow" />
    </flow>
    <flow name="post:\users\creditDebitAdjustments:application\json:antavo-api-config">
        <flow-ref doc:name="users-credit-debit-adjustmentsFlow Reference" doc:id="1862b821-35e6-4d87-b49c-cff251813960" name="users-credit-debit-adjustmentsFlow" />
    </flow>
    <flow name="post:\users\(customerId)\rewards\claim:application\json:antavo-api-config">
        <flow-ref doc:name="multiple-rewards-claimFlow" doc:id="a309331a-1f9d-430e-9f39-cc558c1aad89" name="multiple-rewards-claimFlow" />
    </flow>
</mule>
