antavo-api/src/main/mule/com/zenni/antavo/api/rewards.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq" xmlns:java="http://www.mulesoft.org/schema/mule/java"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd">
	
	<flow name="users-rewardsFlow" doc:id="3e45223a-1118-4ec8-bd15-40209ad9ee28" >
		<logger level="INFO" doc:name="Flow Started" doc:id="ca203e4a-c325-4c3e-b093-38a6c9a47a93" message="################### Users Rewards API flow is Started ######################" />
		<try doc:name="Try" doc:id="ce75cde9-bfdb-415f-a12e-8978410343bb" >
			<set-variable value="#[attributes.uriParams.customerId]" doc:name="Set customerId" doc:id="e8f5f71b-6f50-4c7c-8952-7b4e76a93483" variableName="customerId"/>
			<flow-ref doc:name="get-antavo-api-details-flow Reference" doc:id="5f02e315-8731-423d-ba3b-a8f484d7f7fd" name="get-antavo-api-details-flow"/>
			<set-variable value="#[vars.antavoHostUrl ++ p('antavo.api.user.rewards') as String replace &quot;{customerId}&quot; with vars.customerId]" doc:name="Set url" doc:id="b2cd3055-b3f0-48c5-af6e-3ab721b2fa9f" variableName="url"/>
			<java:invoke-static doc:name="Call Get API Singature" doc:id="875a79bf-fa61-4ed8-8042-818a1da5a408" class="com.zenni.escher.request.AntavoRequestHeaders" method="get(java.lang.String,java.lang.String,java.lang.String)">
				<java:args><![CDATA[#[{
   "pURL" : vars.url,
   "host" : vars.antavoHostName,
   "contentType" : vars.contentType
}]]]></java:args>
			</java:invoke-static>
			<http:request method="GET" doc:name="Request" doc:id="ab5e6e27-2d6f-4de8-a707-faee2b55f17c" config-ref="HTTP_Request_configuration" url="#[p('antavo.api.host.url') ++ p('antavo.api.user.rewards')]" responseTimeout="${antavo.api.timeout}">
				<http:headers ><![CDATA[#[output application/java
---
if(p('headers.enable')) {
	"date" : payload[2].value,
	"Authorization" : payload[3].value,
	"Content-type" : payload[1].value,
	"host" : payload[0].value
} else "" : ""]]]></http:headers>
				
				
				<http:uri-params><![CDATA[#[output application/java
---
{
	"customerId" : vars.customerId
}]]]></http:uri-params>
				<http:query-params><![CDATA[#[output application/java
---
{
	"fields" : attributes.queryParams.fields,
	"api_key" : p('antavo.api.key')
}]]]></http:query-params>
			</http:request>
			<ee:transform doc:name="Set Response" doc:id="eea9077f-e09a-48f9-b3a0-d93c677f9a02">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="statusCode" ><![CDATA["201"]]></ee:set-variable>
					<ee:set-variable variableName="responseMsg" ><![CDATA["OK"]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="bb90ca71-1951-435f-a767-06dfeca11058" >
					<logger level="INFO" doc:name="Logger" doc:id="72572746-0d09-48ce-b241-2781f3ef19f4" message="################## Error in Users Rewards Consuming API ##############"/>
					<flow-ref doc:name="error-handlingFlow Reference" doc:id="7910232e-7ba7-4c5a-8e96-08eaa7d6e5e8" name="error-handlingFlow"/>
				</on-error-continue>
			</error-handler>
		</try>
	</flow>
	
	
	
	<flow name="users-claim-rewardsFlow" doc:id="3c6eee54-e4ac-4cef-aebb-ad6690433978" >
		<logger level="INFO" doc:name="Flow Started" doc:id="d7ae6ede-9743-4b8d-9721-de70fd27e4a5" message="################### Users Claim API flow is Started ######################" />
		<ee:transform doc:name="set Payload" doc:id="603be850-c358-413c-aa88-576d96a3074a">
			<ee:message>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="requestPayload" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<try doc:name="Try" doc:id="3101919b-6dd2-44ed-b285-4d48716f00dc" >
			<set-variable value="#[attributes.uriParams.customerId]" doc:name="Set customerId" doc:id="1f0d9040-de7c-499f-a083-9f55792e4c9b" variableName="customerId"/>
			<set-variable value="#[attributes.uriParams.rewardId]" doc:name="Set rewardId" doc:id="1eecf74a-2808-461b-bdb1-2c3a072d52df" variableName="rewardId"/>
			<flow-ref doc:name="get-antavo-api-details-flow Reference" doc:id="b7544e52-efba-49ac-8310-17f0475b32e6" name="get-antavo-api-details-flow"/>
			<set-variable value="#[vars.antavoHostUrl ++ p('antavo.api.claim.rewards') as String replace &quot;{customerId}&quot; with vars.customerId  replace &quot;{rewardId}&quot; with vars.rewardId]" doc:name="Set url" doc:id="bf9a0030-b891-4e07-8ab4-03e9e7ef0a8a" variableName="url"/>
			<java:invoke-static doc:name="Call Post API Singature" doc:id="24ab47da-3c04-4586-8ada-4e07955ce01f" class="com.zenni.escher.request.AntavoRequestHeaders" method="post(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)">
				<java:args ><![CDATA[#[{
   "pUrl" : vars.url,
   "pRequestBody" : vars.requestPayload,
   "host" : vars.antavoHostName,
   "accept": vars.accept,
   "contentType" : vars.contentType
}]]]></java:args>
			</java:invoke-static>
			<logger level="INFO" doc:name="Logger" doc:id="11ac473b-7bba-47d4-a6f7-bbe479b5b616" message="#[vars.requestPayload]"/>
			<http:request method="POST" doc:name="Request" doc:id="30382020-466f-4a68-a85c-911059730d57" config-ref="HTTP_Request_configuration" url="#[p('antavo.api.host.url') ++ p('antavo.api.claim.rewards')]" responseTimeout="${antavo.api.timeout}">
				<http:body ><![CDATA[#[vars.requestPayload]]]></http:body>
				<http:headers ><![CDATA[#[output application/java
---
if(p('headers.enable')) {
	"date" : payload[3].value,
	"Authorization" : payload[4].value,
	"Accept" : payload[1].value,
	"Content-type" : payload[2].value,
	"host" : payload[0].value
} else  "" : ""]]]></http:headers>

				
				<http:uri-params ><![CDATA[#[output application/java
---
{
	"rewardId" : vars.rewardId,
	"customerId" : vars.customerId
}]]]></http:uri-params>
				<http:query-params ><![CDATA[#[output application/java
---
{
	"api_key" : p('antavo.api.key')
}]]]></http:query-params>
			</http:request>
			<ee:transform doc:name="Set Response" doc:id="3db917cc-0658-4f92-a63e-f790d2a42b13">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="statusCode" ><![CDATA["201"]]></ee:set-variable>
					<ee:set-variable variableName="responseMsg" ><![CDATA["OK"]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="b9d84f28-f405-4849-8c07-12952647d78c" >
					<logger level="INFO" doc:name="Logger" doc:id="5ebd18a0-1d17-4f7c-89d9-5e49921f79db" message="################# Error in Users Claim Consuming API #####################"/>
					<flow-ref doc:name="error-handlingFlow Reference" doc:id="32e16d78-6627-4872-9ce4-4c1ce88f81d1" name="error-handlingFlow"/>
				</on-error-continue>
			</error-handler>
		</try>
		<logger level="INFO" doc:name="Flow Completed" doc:id="ab7bab3f-7e37-4d84-9de0-2a424210addc" message="################### Users Claim API flow is Completed ######################" />
	</flow>
	
	
	
	<flow name="multiple-rewards-claimFlow" doc:id="f2d4fb90-6d03-4ae5-b6ea-e5a54bdea9d5" >
		<logger level="INFO" doc:name="Flow Started" doc:id="ac781033-d744-4b00-ac3e-62958444d37b" message="################### multiple-rewards-claimFlow Started ######################" />
		<ee:transform doc:name="set Payload" doc:id="fea083ed-70a5-460b-b857-77dd4723b5bd">
			<ee:message>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="requestPayload" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<try doc:name="Try" doc:id="ad8eb3ff-2259-453b-a07b-c447d5a5461c" >
			<set-variable value="#[attributes.uriParams.customerId]" doc:name="Set customerId" doc:id="7476c733-e08c-4662-b4d3-0b4805858eec" variableName="customerId"/>
			<flow-ref doc:name="get-antavo-api-details-flow Reference" doc:id="7793591e-bad6-416f-a30b-be2f6d687f20" name="get-antavo-api-details-flow"/>
			<set-variable value="#[vars.antavoHostUrl ++ p('antavo.api.multiple.rewards.claims') as String replace &quot;{id}&quot; with vars.customerId]" doc:name="Set url" doc:id="99aff73a-ba61-4c73-baf0-937e0a19cc58" variableName="url"/>
			<java:invoke-static doc:name="Call Post API Singature" doc:id="0c543c54-5bf2-436f-9460-710ea5d50173" class="com.zenni.escher.request.AntavoRequestHeaders" method="post(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)">
				<java:args ><![CDATA[#[{
   "pUrl" : vars.url,
   "pRequestBody" : vars.requestPayload,
   "host" : vars.antavoHostName,
   "accept": vars.accept,
   "contentType" : vars.contentType
}]]]></java:args>
			</java:invoke-static>
			<http:request method="POST" doc:name="Request" doc:id="621d0d64-2acc-4def-b0ec-d49db854d0f0" config-ref="HTTP_Request_configuration" url="#[p('antavo.api.host.url') ++ p('antavo.api.multiple.rewards.claims')]" responseTimeout="${antavo.api.timeout}">
				<http:body ><![CDATA[#[vars.requestPayload]]]></http:body>
				<http:headers ><![CDATA[#[output application/java
---
if(p('headers.enable')) {
	"date" : payload[3].value,
	"Authorization" : payload[4].value,
	"Accept" : payload[1].value,
	"Content-type" : payload[2].value,
	"host" : payload[0].value
} else  "" : ""]]]></http:headers>

				
				<http:uri-params ><![CDATA[#[output application/java
---
{
	"id" : vars.customerId
}]]]></http:uri-params>
				<http:query-params ><![CDATA[#[output application/java
---
{
	"api_key" : p('antavo.api.key')
}]]]></http:query-params>
			</http:request>
			<ee:transform doc:name="Set Response" doc:id="36401b0e-96a8-496f-9afc-1dae5002ba19">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="statusCode" ><![CDATA["201"]]></ee:set-variable>
					<ee:set-variable variableName="responseMsg" ><![CDATA["OK"]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="0779bb86-c9e6-4b73-8841-5296cffbc575" >
					<logger level="INFO" doc:name="Logger" doc:id="24110320-ea32-4b13-aab8-95279476274d" message="################# Error in Multiple rewards Claim Consuming API #####################"/>
					<flow-ref doc:name="error-handlingFlow Reference" doc:id="3c9e839f-5f57-46cd-9ae3-aa2ad09c27db" name="error-handlingFlow"/>
				</on-error-continue>
			</error-handler>
		</try>
		<logger level="INFO" doc:name="Flow Completed" doc:id="16c75402-2237-4ff4-a356-bcb8c8cf35dc" message="################### multiple-rewards-claimFlow Completed ######################" />
	</flow>
	
</mule>
