antavo-api/src/main/mule/com/zenni/antavo/api/users.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:custom-metrics="http://www.mulesoft.org/schema/mule/custom-metrics" xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq"
	xmlns:java="http://www.mulesoft.org/schema/mule/java"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd
http://www.mulesoft.org/schema/mule/custom-metrics http://www.mulesoft.org/schema/mule/custom-metrics/current/mule-custom-metrics.xsd">
	<flow name="users-optInFlow" doc:id="c80138b7-b977-42d9-83d3-2e506c571fd8" >
		<logger level="INFO" doc:name="Flow Started" doc:id="e0b3c343-1204-4cb9-94c9-852ab51d61ad" message="######## User OptIn API flow is Started ###########" />
		<ee:transform doc:name="set Payload" doc:id="251b8bee-7a4e-4972-a058-1a8416fad587">
			<ee:message>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="requestPayload" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
				<ee:set-variable variableName="customerId" ><![CDATA[%dw 2.0
output application/java
---
payload.customer]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<try doc:name="Try" doc:id="70523492-891a-4ab1-81c0-073147ae8613" >
			<flow-ref doc:name="get-antavo-api-details-flow Reference" doc:id="aca27856-0eb0-467d-a04d-40f21f015211" name="get-antavo-api-details-flow"/>
			<set-variable value="#[vars.antavoHostUrl ++ p('antavo.api.user') ++ &quot;?api_key=&quot; ++ p('antavo.api.key')]" doc:name="Set url" doc:id="46b37b25-17b5-4061-a73b-e34132748344" variableName="url"/>
			<java:invoke-static doc:name="Call Post API Singature" doc:id="87bdaa69-ed60-43a8-bca4-264b6b1e13bf" class="com.zenni.escher.request.AntavoRequestHeaders" method="post(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)">
				<java:args ><![CDATA[#[{
   "pUrl" : vars.url,
   "pRequestBody" : vars.requestPayload,
   "host" : vars.antavoHostName,
   "accept": vars.accept,
   "contentType" : vars.contentType
}]]]></java:args>
			</java:invoke-static>
			<set-variable value="#[payload]" doc:name="Set headers" doc:id="8fc84cfb-7f5d-4a65-84b7-89392269a781" variableName="headers"/>
			<ee:transform doc:name="Transform Message" doc:id="ac5665e8-b607-4d87-a9ee-1ab79a23871a" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.requestPayload]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<logger level="INFO" doc:name="Logger" doc:id="e3760522-f2a4-415e-94b2-b707ba29a535" message="#[payload]" />
			<http:request method="POST" doc:name="Request" doc:id="3508de16-819b-4975-9fa2-86bb4c48bbbb" config-ref="HTTP_Request_configuration" responseTimeout="${antavo.api.timeout}" url="#[p('antavo.api.host.url') ++ p('antavo.api.user')]">
				<http:headers><![CDATA[#[output application/java
---
 if(p('headers.enable')){  
	"date" : vars.headers[3].value,
	"Authorization" : vars.headers[4].value,
	"Accept" : vars.headers[1].value,
	"host" : vars.headers[0].value,
	"Content-type" : vars.headers[2].value
} else "" : ""]]]></http:headers>

			
				<http:query-params ><![CDATA[#[output application/java
---
{
	"api_key" : p('antavo.api.key')
}]]]></http:query-params>
			</http:request>
			<ee:transform doc:name="Set Response" doc:id="a2e704ab-9660-40bb-9dfa-88f56918db3d">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="statusCode" ><![CDATA["201"]]></ee:set-variable>
					<ee:set-variable variableName="responseMsg" ><![CDATA["OK"]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<logger level="INFO" doc:name="Log Response" doc:id="97acb8b6-d796-4c5c-82f1-47b36bb4f53e" message="#[payload]"/>
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="9786f62b-b383-421a-9821-9256d45b85cd" >
					<logger level="INFO" doc:name="Logger" doc:id="ce223dc5-74d3-4612-b045-6e8056353062" message="################## Error in Users OptIn Consuming API ####################"/>
					<flow-ref doc:name="error-handlingFlow Reference" doc:id="59374232-2c00-4853-8585-f9ae3d55b90b" name="error-handlingFlow"/>
				</on-error-continue>
			</error-handler>
		</try>
		<logger level="INFO" doc:name="Flow Completed" doc:id="650d870c-987b-4eab-9e56-4893e299618a" message="######## Loyality User OptIn API flow is Completed ###########" />
	</flow>
	
	
	<flow name="users-optOutFlow" doc:id="21c85b07-6601-4f31-ab33-24223d9b1aa1" >
		<logger level="INFO" doc:name="Flow Started" doc:id="99e297e8-bc54-4577-8397-27841d7f05ac" message="###################### User OptOut API flow is Started ####################" />
		<ee:transform doc:name="set Payload" doc:id="53f5754c-1062-4889-886f-cf12ddb92403">
			<ee:message>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="requestPayload" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
				<ee:set-variable variableName="customerId" ><![CDATA[%dw 2.0
output application/java
---
payload.customer]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<try doc:name="Try" doc:id="1a0ec11a-1546-4dc9-ab15-0b48b05e29ac" >
			<flow-ref doc:name="get-antavo-api-details-flow Reference" doc:id="41739392-24be-4240-9b1a-946e59c2bce0" name="get-antavo-api-details-flow"/>
			<set-variable value="#[vars.antavoHostUrl ++ p('antavo.api.user') ++ &quot;?api_key=&quot; ++ p('antavo.api.key')]" doc:name="Set url" doc:id="49431fbe-533e-4beb-bee9-b9d3927ccc54" variableName="url"/>
			<java:invoke-static method="post(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)" doc:name="Call Post API Singature" doc:id="f4366c7f-8bae-423b-b2d2-6a63c61169ae" class="com.zenni.escher.request.AntavoRequestHeaders">
				<java:args ><![CDATA[#[{
   "pUrl" : vars.url,
   "pRequestBody" : vars.requestPayload,
   "host" : vars.antavoHostName,
   "accept": vars.accept,
   "contentType" : vars.contentType
}]]]></java:args>
			</java:invoke-static>
			<logger level="INFO" doc:name="Logger" doc:id="691e38bf-20cc-48dd-8617-c5dfcba2d797" message="#[vars.requestPayload]"/>
			<http:request method="POST" doc:name="Request" doc:id="69adf3c9-4aa6-45be-b1a4-07a18507745f" config-ref="HTTP_Request_configuration" url="#[p('antavo.api.host.url') ++ p('antavo.api.user')]" responseTimeout="${antavo.api.timeout}">
			<http:body ><![CDATA[#[vars.requestPayload]]]></http:body>
				<http:headers ><![CDATA[#[output application/java
---
if(p('headers.enable')) {
	"date" : payload[3].value,
	"Authorization" : payload[4].value,
	"Accept" : payload[1].value,
	"Content-type" : payload[2].value,
	"host" : payload[0].value
} else "" : ""]]]></http:headers>

			
				<http:query-params ><![CDATA[#[output application/java
---
{
	"api_key" : p('antavo.api.key')
}]]]></http:query-params>
			</http:request>
			<ee:transform doc:name="Set Response" doc:id="175c503f-43a8-4c4e-8b4e-57f01bc10049">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="statusCode" ><![CDATA["201"]]></ee:set-variable>
					<ee:set-variable variableName="responseMsg" ><![CDATA["OK"]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="31eb55e3-3d17-4900-ac38-765e820c9ad3" >
					<logger level="INFO" doc:name="Logger" doc:id="5cd1edcb-afa2-4cb9-88ac-0e1a8436a673" message="############## Error in Users OptOut Consuming API #################"/>
					<flow-ref doc:name="error-handlingFlow Reference" doc:id="7957ac16-5a25-42a3-b040-dae023c9f73d" name="error-handlingFlow"/>
				</on-error-continue>
			</error-handler>
		</try>
		<logger level="INFO" doc:name="Flow Completed" doc:id="16918d78-ce90-4e01-9c8d-0482ebcdf169" message="####################  User OptOut API flow is Completed ###################" />
	</flow>
	
	
	<flow name="users-checkoutFlow" doc:id="e594ffac-0c7b-4107-a09a-037da58f06fb" >
		<logger level="INFO" doc:name="Flow Started" doc:id="04c2c0b4-e878-4ac3-bf9e-a1ff234d2516" message="###################### User checkOut API flow is Started ###################" />
		<ee:transform doc:name="set Payload" doc:id="f427ec3a-95c2-4962-9dcf-6bf7d2a13782">
			<ee:message>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="requestPayload" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
				<ee:set-variable variableName="customerId" ><![CDATA[%dw 2.0
output application/java
---
payload.customer]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<try doc:name="Try" doc:id="ac3a5a72-1965-4f35-8fb1-d393e7a7a1bd" >
			<flow-ref doc:name="get-antavo-api-details-flow Reference" doc:id="43da0094-8b12-469e-83fc-317fa35d5de2" name="get-antavo-api-details-flow"/>
			<set-variable value="#[vars.antavoHostUrl ++ p('antavo.api.user')++ &quot;?api_key=&quot; ++ p('antavo.api.key')]" doc:name="Set url" doc:id="10cebd7b-0f91-4409-9b27-0b5d836dbfc3" variableName="url"/>
			<java:invoke-static doc:name="Call Post API Singature" doc:id="882449c5-e860-4658-a3a5-b906cb034ee1" class="com.zenni.escher.request.AntavoRequestHeaders" method="post(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)">
				<java:args ><![CDATA[#[{
   "pUrl" : vars.url,
   "pRequestBody" : vars.requestPayload,
   "host" : vars.antavoHostName,
   "accept": vars.accept,
   "contentType" : vars.contentType
}]]]></java:args>
			</java:invoke-static>
			<logger level="INFO" doc:name="Logger" doc:id="82421f8b-dfa6-43eb-ab9d-fe390435a223" message="#[vars.requestPayload]"/>
			<http:request method="POST" doc:name="Request" doc:id="e940ce18-bbe8-4863-9bb1-0c90f8eed1fd" config-ref="HTTP_Request_configuration" url="#[p('antavo.api.host.url') ++ p('antavo.api.user')]" responseTimeout="${antavo.api.timeout}">
			<http:body ><![CDATA[#[vars.requestPayload]]]></http:body>
				<http:headers ><![CDATA[#[output application/java
---
if(p('headers.enable')) {
	"date" : payload[3].value,
	"Authorization" : payload[4].value,
	"Accept" : payload[1].value,
	"Content-type" : payload[2].value,
	"host" : payload[0].value
} else "" : ""]]]></http:headers>

			
				<http:query-params ><![CDATA[#[output application/java
---
{
	"api_key" : p('antavo.api.key')
}]]]></http:query-params>
			</http:request>
			<ee:transform doc:name="Set Response" doc:id="7383f43c-f41e-45b8-a464-6d7c2eb2e3f6">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="statusCode" ><![CDATA["201"]]></ee:set-variable>
					<ee:set-variable variableName="responseMsg" ><![CDATA["OK"]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="9d17e2bb-8b78-4e6e-9acd-9f94037fa5cc" >
					<logger level="INFO" doc:name="Logger" doc:id="147d580e-df2d-4423-818d-c6f8f172b5c3" message="################# Error in Users Checkout Consuming API ####################"/>
					<flow-ref doc:name="error-handlingFlow Reference" doc:id="f5f0ff74-1941-4b0b-909e-d270f3723097" name="error-handlingFlow"/>
				</on-error-continue>
			</error-handler>
		</try>
		<logger level="INFO" doc:name="Flow Completed" doc:id="121d64b8-65e2-4e79-ae0c-4b945721b308" message="################### User checkOut API flow is Completed ###################" />
	</flow>
	
	
	
	<flow name="users-profileFlow" doc:id="4deccd73-6f0f-4035-94ba-3f4e6d8598a8" >
		<logger level="INFO" doc:name="Flow Started" doc:id="10af8742-6a07-405f-855c-b6ab722be190" message="###################### Update User API flow is Started ###################" />
		<ee:transform doc:name="set Payload" doc:id="79894bc0-b32a-4ae1-9313-9c800fb8d5e0">
			<ee:message>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="requestPayload" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
				<ee:set-variable variableName="customerId" ><![CDATA[%dw 2.0
output application/java
---
payload.customer]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<try doc:name="Try" doc:id="595f8078-8d6a-4ff5-8bd5-8408c6ba50a3" >
			<flow-ref doc:name="get-antavo-api-details-flow Reference" doc:id="a8dda99b-3e82-4d6b-b627-4a71e6f9c99e" name="get-antavo-api-details-flow"/>
			<set-variable value="#[vars.antavoHostUrl ++ p('antavo.api.user')++ &quot;?api_key=&quot; ++ p('antavo.api.key')]" doc:name="Set url" doc:id="c468969b-f46b-4c0d-bcc3-83b9500336f5" variableName="url"/>
			<java:invoke-static method="post(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)" doc:name="Call Post API Singature" doc:id="9b53a4bc-03ba-4cb5-8b45-fe685104c692" class="com.zenni.escher.request.AntavoRequestHeaders">
				<java:args ><![CDATA[#[{
   "pUrl" : vars.url,
   "pRequestBody" : vars.requestPayload,
   "host" : vars.antavoHostName,
   "accept": vars.accept,
   "contentType" : vars.contentType
}]]]></java:args>
			</java:invoke-static>
			<logger level="INFO" doc:name="Logger" doc:id="21029fba-cbd5-4c7d-90e4-0372668ad358" message="#[vars.requestPayload]"/>
			<http:request method="POST" doc:name="Request" doc:id="dc7c40c2-eb5f-4875-994c-0ac00b0a0373" config-ref="HTTP_Request_configuration" url="#[p('antavo.api.host.url') ++ p('antavo.api.user')]" responseTimeout="${antavo.api.timeout}">
			<http:body ><![CDATA[#[vars.requestPayload]]]></http:body>
				<http:headers ><![CDATA[#[output application/java
---
if(p('headers.enable')) {
	"date" : payload[3].value,
	"Authorization" : payload[4].value,
	"Accept" : payload[1].value,
	"Content-type" : payload[2].value,
	"host" : payload[0].value
} else "" : ""]]]></http:headers>

			
				<http:query-params ><![CDATA[#[output application/java
---
{
	"api_key" : p('antavo.api.key')
}]]]></http:query-params>
			</http:request>
			<ee:transform doc:name="Set Response" doc:id="32e3bf1e-af11-423d-83d9-afad32436be3">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="statusCode" ><![CDATA["201"]]></ee:set-variable>
					<ee:set-variable variableName="responseMsg" ><![CDATA["OK"]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="103936cd-c861-4746-a5a4-6bccab1ba5b1" >
					<logger level="INFO" doc:name="Logger" doc:id="4e082284-1c7a-4771-b0f6-d60640b52704" message="################# Error in  Update User  Consuming API ####################"/>
					<flow-ref doc:name="error-handlingFlow Reference" doc:id="1d35e026-87b4-4c0e-b235-905b2ceb16d6" name="error-handlingFlow"/>
				</on-error-continue>
			</error-handler>
		</try>
		<logger level="INFO" doc:name="Flow Completed" doc:id="0a0b5cae-01f5-4f60-b75c-ee372eef2016" message="###################  Update User  API flow is Completed ###################" />
	</flow>
	
	
	
	<flow name="get-usersFlow" doc:id="38130697-16bb-4784-acf3-a328f5c367c5" >
		<logger level="INFO" doc:name="Flow Started" doc:id="85e3f8ca-74b4-43e6-a561-6f18964b2775" message="###################### Get User Details API flow is Started ###################" />
		<try doc:name="Try" doc:id="619faff6-2a49-4863-be19-e162daf6da98" >
			<set-variable value="#[attributes.uriParams.customerId]" doc:name="Set customerId" doc:id="448bbc2c-d2a4-40e8-9cdb-9582aecbe813" variableName="customerId"/>
			<flow-ref doc:name="get-antavo-api-details-flow Reference" doc:id="936c2774-2575-4eaf-9b0a-241ff3089b23" name="get-antavo-api-details-flow"/>
			<set-variable value="#[vars.antavoHostUrl ++ p('antavo.api.user.details') as String replace &quot;{customerId}&quot; with vars.customerId]" doc:name="Set url" doc:id="7ce0b9de-842a-4fef-8280-be7e30257b5d" variableName="url"/>
			<java:invoke-static doc:name="Call Get API Singature" doc:id="4937f4ea-4e41-4a45-b787-a2d08d5b0bf0" class="com.zenni.escher.request.AntavoRequestHeaders" method="get(java.lang.String,java.lang.String,java.lang.String)">
				<java:args ><![CDATA[#[{
   "pURL" : vars.url,
   "host" : vars.antavoHostName,
   "contentType" : vars.contentType
}]]]></java:args>
			</java:invoke-static>
			<http:request method="GET" doc:name="Request" doc:id="a3e16389-3c5b-494f-a548-9cde5a8adbbd" config-ref="HTTP_Request_configuration" url="#[p('antavo.api.host.url') ++ p('antavo.api.user.details')]" responseTimeout="${antavo.api.timeout}">
				<http:headers ><![CDATA[#[output application/java
---
if(p('headers.enable')) {
	"date" : payload[2].value,
	"Authorization" : payload[3].value,
	"Content-type" : payload[1].value,
	"host" : payload[0].value
} else "" : ""]]]></http:headers>
				
				<http:uri-params ><![CDATA[#[output application/java
---
{
	"customerId" : vars.customerId
}]]]></http:uri-params>
				<http:query-params ><![CDATA[#[output application/java
---
{
	"api_key" : p('antavo.api.key')
}]]]></http:query-params>
			</http:request>
			<ee:transform doc:name="Set Response" doc:id="7400417a-20f7-4c79-a754-1f6bce194bba">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="statusCode" ><![CDATA["201"]]></ee:set-variable>
					<ee:set-variable variableName="responseMsg" ><![CDATA["OK"]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="3f7fd23c-9773-4c2c-99c9-d92e9821d234" >
					<logger level="INFO" doc:name="Logger" doc:id="7e8c156b-bd21-410c-960b-29fb8675e225" message="############### Error in get Users Consuming API ###############"/>
					<flow-ref doc:name="error-handlingFlow Reference" doc:id="e6d36c4d-3eb7-4e89-b93b-b36c283ad56f" name="error-handlingFlow"/>
				</on-error-continue>
			</error-handler>
		</try>
		<logger level="INFO" doc:name="Flow Completed" doc:id="f2f426c9-ac36-4d86-92e5-7d7af0e7359a" message="###################### Get User Details API flow is Completed ###################" />
	</flow>





<flow name="get-users-eventsFlow" doc:id="cc78dc0e-0bb4-4cf2-81a7-124fad1dcf4e" >
		<logger level="INFO" doc:name="Flow Started" doc:id="70921974-2c22-4198-bbdc-5bd6b4596a45" message="###################### Get User Events API flow is Started ###################" />
		<try doc:name="Try" doc:id="ddc0b6b7-79aa-45e0-89e1-8b8c15615841" >
			<set-variable value="#[attributes.uriParams.CustomerId]" doc:name="Set customerId" doc:id="6b7b96f3-1689-4116-9912-ce38bd034340" variableName="customerId"/>
			<flow-ref doc:name="get-antavo-api-details-flow Reference" doc:id="d0c2bb95-e487-41ea-b732-772c453c1097" name="get-antavo-api-details-flow"/>
			<set-variable value="#[vars.antavoHostUrl ++ p('antavo.api.user.details') as String replace &quot;{customerId}&quot; with vars.customerId ++ p('antavo.api.user.events.details')]" doc:name="Set url" doc:id="5f23c798-1a27-48d6-aaaf-e1066710e1f1" variableName="url"/>
			<java:invoke-static doc:name="Call Get API Singature" doc:id="ba79daaa-24df-423f-88d2-9a38db8f0809" class="com.zenni.escher.request.AntavoRequestHeaders" method="get(java.lang.String,java.lang.String,java.lang.String)">
				<java:args><![CDATA[#[{
   "pURL" : vars.url,
   "host" : vars.antavoHostName,
   "contentType" : vars.contentType
}]]]></java:args>
			</java:invoke-static>
			<http:request method="GET" doc:name="Request" doc:id="50470110-771e-41e2-bd37-67c57318f52a" config-ref="HTTP_Request_configuration" url="#[p('antavo.api.host.url') ++ p('antavo.api.user.details') ++ p('antavo.api.user.events.details')]" responseTimeout="${antavo.api.timeout}">
				<http:headers ><![CDATA[#[output application/java
---
if(p('headers.enable')) {
	"date" : payload[2].value,
	"Authorization" : payload[3].value,
	"Content-type" : payload[1].value,
	"host" : payload[0].value
} else "" : ""]]]></http:headers>
				
				<http:uri-params ><![CDATA[#[output application/java
---
{
	"customerId" : vars.customerId
}]]]></http:uri-params>
				<http:query-params ><![CDATA[#[output application/java
---
{
	("offset" : attributes.queryParams.offset) if(attributes.queryParams.offset !=null),
	("limit" : attributes.queryParams.limit) if(attributes.queryParams.limit !=null),
	"api_key" : p('antavo.api.key')
}]]]></http:query-params>
			</http:request>
			<ee:transform doc:name="Set Response" doc:id="86b61b12-44a3-4693-8057-cd4368484816">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="statusCode" ><![CDATA["201"]]></ee:set-variable>
					<ee:set-variable variableName="responseMsg" ><![CDATA["OK"]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="a8a99ddb-9399-40b1-a441-53140542ad7d" type="ANY">
					<logger level="INFO" doc:name="Logger" doc:id="56a27cc2-837e-466e-8724-f8141ce43bb5" message="############### Error in Get Users Events API while Consuming Antavo API ###############"/>
					<flow-ref doc:name="error-handlingFlow Reference" doc:id="57e29fc5-6083-4340-94d6-b22f37cbf998" name="error-handlingFlow"/>
				</on-error-continue>
			</error-handler>
		</try>
		<logger level="INFO" doc:name="Flow Completed" doc:id="a7ac4cc3-292d-4f0e-813f-921c65dfded5" message="###################### Get User Events API flow is Completed ###################" />
	</flow>


<flow name="get-users-transactionsFlow" doc:id="767d94de-0eff-4b18-bfb5-6607b8a89cc6" >
		<logger level="INFO" doc:name="Flow Started" doc:id="b633c993-f8b6-40d8-ae37-997f1be169fa" message="###################### Get User Transaction API flow is Started ###################" />
		<try doc:name="Try" doc:id="476c4456-bbce-4811-9aaa-a06d006cf09f" >
			<set-variable value="#[attributes.uriParams.CustomerId]" doc:name="Set customerId" doc:id="3c6798a6-2a79-43c1-aafc-b03b7fe64f04" variableName="customerId"/>
			<flow-ref doc:name="get-antavo-api-details-flow Reference" doc:id="89a347c4-7615-49d0-a357-fea216cc92e3" name="get-antavo-api-details-flow"/>
			<set-variable value="#[vars.antavoHostUrl ++ p('antavo.api.user.details') as String replace &quot;{customerId}&quot; with vars.customerId ++ p('antavo.api.user.transactions.details')]" doc:name="Set url" doc:id="790e7af4-1c5d-4b24-8c62-b012b48c7255" variableName="url"/>
			<java:invoke-static doc:name="Call Get API Singature" doc:id="40f78ff6-3505-4ccb-8d7c-4a5321697e31" class="com.zenni.escher.request.AntavoRequestHeaders" method="get(java.lang.String,java.lang.String,java.lang.String)">
				<java:args ><![CDATA[#[{
   "pURL" : vars.url,
   "host" : vars.antavoHostName,
   "contentType" : vars.contentType
}]]]></java:args>
			</java:invoke-static>
			<http:request method="GET" doc:name="Request" doc:id="9798b021-a628-41a5-817c-95650d3a582c" config-ref="HTTP_Request_configuration" url="#[p('antavo.api.host.url') ++ p('antavo.api.user.details') ++ p('antavo.api.user.transactions.details')]" responseTimeout="${antavo.api.timeout}">
				<http:headers ><![CDATA[#[output application/java
---
if(p('headers.enable')) {
	"date" : payload[2].value,
	"Authorization" : payload[3].value,
	"Content-type" : payload[1].value,
	"host" : payload[0].value
} else "" : ""]]]></http:headers>
				
				<http:uri-params ><![CDATA[#[output application/java
---
{
	"customerId" : vars.customerId
}]]]></http:uri-params>
				<http:query-params ><![CDATA[#[output application/java
---
{
	("offset" : attributes.queryParams.offset) if(attributes.queryParams.offset !=null),
	("limit" : attributes.queryParams.limit) if(attributes.queryParams.limit !=null),
	"api_key" : p('antavo.api.key')
}]]]></http:query-params>
			</http:request>
			<ee:transform doc:name="Set Response" doc:id="a974c1d6-8c0c-4bf4-9acd-471ad3826991">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="statusCode" ><![CDATA["201"]]></ee:set-variable>
					<ee:set-variable variableName="responseMsg" ><![CDATA["OK"]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="3826524b-0e05-4476-8438-9a1e9837235d" type="ANY">
					<logger level="INFO" doc:name="Logger" doc:id="c2814f67-7025-41e6-9f72-198d5645affb" message="############### Error in get User Transaction Consuming API ###############"/>
					<flow-ref doc:name="error-handlingFlow Reference" doc:id="dfaf2d5c-a2e0-455d-b9ee-64d9acd7bdcb" name="error-handlingFlow"/>
				</on-error-continue>
			</error-handler>
		</try>
		<logger level="INFO" doc:name="Flow Completed" doc:id="444adeb8-694a-4383-ab2b-b0c7db0eb06e" message="###################### Get User Transaction API flow is Completed ###################" />
	</flow>
	
	
	
	<flow name="users-credit-debit-adjustmentsFlow" doc:id="b60403f2-b5f2-49da-af34-303836ec46c3" >
		<logger level="INFO" doc:name="Flow Started" doc:id="5c2cc297-b576-4297-9d73-7dd209ebeafc" message="################### Users Credit Debit Adjustments API flow is Started ######################" />
		<ee:transform doc:name="set Payload" doc:id="1b46e5a1-6280-4b29-91e1-45a97def39e2">
			<ee:message>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="requestPayload" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<try doc:name="Try" doc:id="642d8b3d-6135-46d4-be8c-d9e66deac9eb" >
			<set-variable value="#[payload.customer]" doc:name="Set customerId" doc:id="34191740-491e-40a9-a2ed-3d5ec56611d7" variableName="customerId"/>
			<flow-ref doc:name="get-antavo-api-details-flow Reference" doc:id="8650e7fe-9edb-4949-bec1-4fece85749e3" name="get-antavo-api-details-flow"/>
			<set-variable value="#[vars.antavoHostUrl ++ p('antavo.api.user')]" doc:name="Set url" doc:id="106b960a-c8ca-4447-886b-c4e753f3e4ad" variableName="url"/>
			<java:invoke-static doc:name="Call Post API Singature" doc:id="ac5da2b4-67e9-41b2-9e2a-7fc6f083c590" class="com.zenni.escher.request.AntavoRequestHeaders" method="post(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)">
				<java:args ><![CDATA[#[{
   "pUrl" : vars.url,
   "pRequestBody" : vars.requestPayload,
   "host" : vars.antavoHostName,
   "accept": vars.accept,
   "contentType" : vars.contentType
}]]]></java:args>
			</java:invoke-static>
			<logger level="INFO" doc:name="Logger" doc:id="e463ca94-e405-459f-ae2e-057466d719cd" message="#[vars.requestPayload]"/>
			<http:request method="POST" doc:name="Request" doc:id="5dd45b95-e4db-4da8-bc1b-06120e2693fd" config-ref="HTTP_Request_configuration" url="#[p('antavo.api.host.url') ++ p('antavo.api.user')]" responseTimeout="${antavo.api.timeout}">
				<http:body ><![CDATA[#[vars.requestPayload]]]></http:body>
				<http:headers ><![CDATA[#[output application/java
---
if(p('headers.enable')== false) {
	"date" : payload[3].value,
	"Authorization" : payload[4].value,
	"Accept" : payload[1].value,
	"Content-type" : payload[2].value,
	"host" : payload[0].value
} else  "" : ""]]]></http:headers>
				<http:query-params ><![CDATA[#[output application/java
---
{
	"api_key" : p('antavo.api.key')
}]]]></http:query-params>
			</http:request>
			<ee:transform doc:name="Set Response" doc:id="68b1f90e-0c2c-4d39-aef1-e679b485cd1e">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="statusCode" ><![CDATA["201"]]></ee:set-variable>
					<ee:set-variable variableName="responseMsg" ><![CDATA["OK"]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="ce324c00-cee4-4540-8012-2e26ef6fd87e" type="ANY">
					<logger level="INFO" doc:name="Logger" doc:id="29970797-948b-438b-a6ce-e1ebe90658d7" message="################# Error in Users Credit Debit Adjustments while Consuming API #####################"/>
					<flow-ref doc:name="error-handlingFlow Reference" doc:id="1c3ced1f-6f21-4314-8ce2-98cd005fd847" name="error-handlingFlow"/>
				</on-error-continue>
			</error-handler>
		</try>
		<logger level="INFO" doc:name="Flow Completed" doc:id="8cf8b7a3-6992-492d-91a2-5b4e23320f2b" message="################### Users Credit Debit Adjustments API flow is Completed ######################" />
	</flow>

	
	<flow name="get-antavo-api-details-flow" doc:id="976323be-30d6-41be-8d66-b362681a9ddf" >
		<ee:transform doc:name="Set Variables" doc:id="0c485775-6866-4db4-acec-03f16dd81c90">
				<ee:message>
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="antavoHostUrl"><![CDATA[%dw 2.0
output application/java
---
p('antavo.api.host.url')]]></ee:set-variable>
					<ee:set-variable variableName="antavoHostName"><![CDATA[%dw 2.0
output application/java
---
p('antavo.api.host.name')]]></ee:set-variable>
					<ee:set-variable variableName="contentType"><![CDATA[%dw 2.0
output application/java
---
p('antavo.api.content.type')]]></ee:set-variable>
				<ee:set-variable variableName="accept" ><![CDATA[%dw 2.0
output application/java
---
p('antavo.api.accept')]]></ee:set-variable>
				<ee:set-variable variableName="flowName" ><![CDATA[%dw 2.0
output application/java
---
attributes.rawRequestPath]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
	</flow>
	
</mule>
